.Menu {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    /* color: #fff; */
    transition: opacity .25s ease-in-out;
    z-index: 10;
}

.Menu:hover {
    opacity: .2;
}

.Menu.open {
    display: block;
}

.Menu.close {
    display: block;
}

