.Card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 4px solid #5e492a;
  border-radius: 20px;
  width: 165px;
  height: 330px;
  margin: 0 10px 10px 10px;
}

.Card img {
  width: 165px;
  height: 245px;
}

