.Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 60px auto;
  max-width: 80vw;

  border: 10px solid #5e492a;
  border-radius: 35px;
}

.Main.open{
  color: red;
  opacity: .2;
}

.MainTitle {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.MainItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}