.Main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 90px;
  margin-left: auto;
  width: 75vw;
  height: 65vh;
  border: 10px solid #5e492a;
  border-radius: 35px;
}
