.Input {
    margin-bottom: 15px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.Input label {
    margin-bottom: 5px;
    text-align: center;
}

.Input input {
    display: block;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    width: 350px;
}

.Input button {
    display: flex;
    align-items: flex-end;
}

.Input span {
    color: darkred;
    font-weight: bold;
}

.Input.invalid label {
    color: darkred;
}